extends ./layout

block append config
  -
    const handbook = {
      breadcrumbs: [
        {
          url: '',
          title: 'Index',
        }
      ],
      pageheader: 'Handbook'
    };

    app.title = 'Handbook - ' + app.title;

  block handbook-config

  -
    app.borderedNav = !handbook.pageheader;

block content
  if handbook.pageheader
    .app-pageheader
      .container
        h1= handbook.pageheader

  .container
    if handbook.breadcrumbs
      ol.breadcrumb(class= !handbook.pageheader ? 'mt-2' : '')
        block breadcrumbs
          - const activeCrumb = handbook.breadcrumbs.pop();
          each breadcrumb in handbook.breadcrumbs
            li.breadcrumb-item #[a(href= breadcrumb.url)= breadcrumb.title]
          li.breadcrumb-item.active= activeCrumb.title

    block handbook-content

    if handbook.editLink
      .mt-5.text-right
        if handbook.editLink.startsWith('https://') || handbook.editLink.startsWith('http://')
          a(href=handbook.editLink, target="_blank") Edit this article
            span.text-muted.ml-1
              +icon('externalLinkAlt')
        else
          a(href=`${app.links.github}/warlockbrawl.com/edit/master/${handbook.editLink}`, target="_blank") Edit this article
            span.text-muted.ml-1
              +icon('externalLinkAlt')
