mixin icon(name, type='solid')
  -
    const fullName = 'fa' + name.charAt(0).toUpperCase() + name.slice(1);
    const icon = iconCache[type][fullName];
    const cls = `icon icon-${icon.iconName}${attributes.class ? ' ' + attributes.class : ''}`
    attributes.class = ''
  svg(
    class= cls,
    aria-hidden="true",
    role="img",
    xmlns="http://www.w3.org/2000/svg",
    viewBox= `0 0 ${icon.icon[0]} ${icon.icon[1]}`)&attributes(attributes)
    path(fill="currentColor", d= icon.icon[4])
