block config
  -
    var app = {
      name: 'Warlock Brawl',
      title: 'Warlock Brawl',
      description: 'The official website for the Dota 2 and Warcraft 3 mod, Warlock, and the upcoming standalone. Discuss updates on our forums, play in tournaments, and more!',
      bodyAttrs: {},
      links: {
        steam: 'https://steamcommunity.com/groups/warlockbrawl',
        discord: 'https://discord.gg/0vpPLl6xE2IyOpwG',
        github: 'https://github.com/warlockbrawl'
      }
    };

doctype html
html(lang="en")
  head
    block head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      meta(name="description", content= app.description)
      title= app.title
      block styles
        link(rel="stylesheet", href="/assets/css/#{rev['app.css']||'app.css'}")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic,700italic")
      block scripts
        script(src="/assets/js/#{rev['app.js']||'app.js'}")
  body&attributes(app.bodyAttrs)
    #app.app
      block app
        - var bordered = app.borderedNav || app.activeNav === undefined ? 'app-navbar-bordered' : '';
        header.navbar.navbar-light.navbar-static-top.app-navbar(class= bordered)
          block header
            .clearfix
              button.navbar-toggler.pull-xs-right.hidden-sm-up(type="button", data-toggle="collapse", data-target="#main-nav") &#9776;
              a.navbar-brand.hidden-sm-up(href="/")= app.name
            #main-nav.collapse.navbar-toggleable-xs
              nav.navbar.navbar-nav
                block navigation-links
                  a.nav-item.nav-link.hidden-xs-down(class=(app.activeNav==='/'?'active':''), href="/")= app.name
                  a.nav-item.nav-link(class=(app.activeNav==='/download'?'active':''), href="/download") Download
                  a.nav-item.nav-link(class=(app.activeNav==='/manual'  ?'active':''), href="/manual") Manual
                  a.nav-item.nav-link(class=(app.activeNav==='/faq'     ?'active':''), href="/faq") FAQ
                  a.nav-item.nav-link(class=(app.activeNav==='/forums'  ?'active':''), href="/forums") Forum

        main#content.app-content
          block content

        footer#footer.app-footer.text-muted
          block footer
            .container
              ul.app-footer-links
                block footer-links
                  li #[a(href= app.links.steam) Steam]
                  li #[a(href= app.links.discord) Discord]
                  li #[a(href= app.links.github) GitHub]
                  li #[a(href="/about") About]
              p &copy; 2008&ndash;2016 #{app.name}
